<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sds.besaint">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/EcclesialTheme">
        <activity android:name=".TransitionActivity"></activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".RunningActivity">

            <!-- The meta-data tag required for support of API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RunningActivity" />
        </activity>
        <activity android:name=".JourneyActivity" />
        <activity
            android:name=".JourneyDetailsActivity"
            android:parentActivityName=".JourneyActivity">

            <!-- The meta-data tag required for support of API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".JourneyActivity" />
        </activity>
        <activity android:name=".RunningActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".RunningActivity">

            <!-- The meta-data tag required for support of API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RunningActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".RunningActivity">

            <!-- The meta-data tag required for support of API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RunningActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".RunningActivity">

            <!-- The meta-data tag required for support of API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RunningActivity" />
        </activity>
    </application>

</manifest>